:root {
    --background: #09090b;
    --back-text: #71717a;
    --back-title: #a1a1aa;
    --surface: #18181b;
    --surface2: #27272a;
    --surf-text: #52525b;
    --surf-title: #71717a;
    --object: #18181b;
    --obj-text: #71717a;
    --obj-title: #a1a1aa;
    --object2: #52525b;
    --obj2-text: #d4d4d8;
    --obj2-title: #f4f4f5;
    --section: #27272a;
    --section-int: #09090b;
    --primary: #0891b2;
    --primary-text: #cffafe;
    
}

/* -----TEMA----- */
body {
    border-color: rgba( 255 255 255 / 10%);
    scrollbar-color: rgba(255 255 255 / 5%) rgba(0 0 0 / 0%);
}

hr {
    border-color: rgba(255 255 255 / 10%);
}

footer {
    border-color: rgba(255 255 255 / 10%);
}

/* FONDO */
.fondo {
    background: linear-gradient(to top left, 
        #111, 
        #333
        );
    /* scrollbar-color: rgba(255 255 255 / 5%) rgba(0 0 0 / 0%); */
    color: var(--back-text);
    border-color: rgba(255 255 255 / 5%);
}

.fondo div {
    border-color: rgba(255 255 255 / 20%);
}

.fondo h1 {
    /* background: linear-gradient(to right, 
    rgba(255 255 255 /20%),
    rgba(255 255 255 /1%)
    ); */
    color: var(--primary);
}

.fondo h2 {
    color: var(--obj-title);
    border-color: rgba(255 255 255 / 20%);
    
}

.fondo h3 {
    color: var(--primary);
}

.fondo h4 {
    color: var(--obj-title);
}

.fondo p {
    color: var(--back);
}

.fondo strong {
    color: var(--primary);
}

.fondo a {
    color: var(--primary);
}

.fondo a:hover {
    color: var(--back-title);
}

.fondo button {
    background: linear-gradient(to top left, #3f3f46, #a1a1aa);
    color: #f4f4f5;
}

.fondo button:hover {
    background: linear-gradient(to top left, #0e7490, #06b6d4);
    color: #cffafe;
}

/* SURFACE */
.surface {
    background: linear-gradient(to top, 
        var(--surface), 
        var(--surface2)
        );
    /* background: var(--surface); */
    /* scrollbar-color: rgba(255 255 255 / 5%) rgba(0 0 0 / 0%); */
    color: var(--back-text);
    border-color: rgba(255 255 255 / 5%);
}

.surface h1 {
    color: #155e75;
}

.surface h2 {
    color: var(--surf-title);
    
}

.surface h3 {
    color: #155e75;
}

.surface h4 {
    color: var(--surf-title);
}

.surface p {
    color: var(--surf-text);
}

.surface strong {
    color: var(#155e75);
}

.surface a {
    color: var(#155e75);
}

.surface a:hover {
    color: var(--back-title);
}

.surface button {
    background: linear-gradient(to top left, #52525b, #71717a);
    color: #d4d4d8;
}

.surface button:hover {
    background: linear-gradient(to top left, #0e7490, #06b6d4);
    color: #cffafe;
}