html {
    
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --background-color: #18181b;
    --object: #27272a;
    --text-object: #71717a;
    --title-object: #a1a1aa;
    --text-background: #71717a;
    --title-background: #a1a1aa;
    --primary: #0891b2;
}

body {
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-background);
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 40px 20px;
}

h1 {
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
}

h2 {
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--title-background);
}

h3 {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--primary);
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    flex: none;
    background-color: var(--object);
    color: var(--text-object);
}

nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    flex: none;
    background-color: var(--object);
    color: var(--text-object);
}

footer div {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
}

.logo-atom {
    width: 160px;
}

.logo-cliente {
    width: 180px;
}

nav .title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;

}

span {
    color: var(--primary);
}

strong {
    color: var(--primary);
    text-transform: uppercase;
}

.seccion {
    padding-top: 15px;
    padding-bottom: 5px;
    
}

.encabezado {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.encabezado .logo {
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 0% 0% 10%;
    flex: none;

}

.encabezado .titulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
    flex: 1;
}



@media (max-width: 640px) {
    body{
        /* font-size: 12px; */
    }

    h1 {
        
        font-size: 1.5rem;
       
    }
    
    h2 {
        
        font-size: 1rem;
        
    }
    
    p {
        
        font-size: 14px;
    }

    .encabezado {
        flex-direction: column;
    }

    .logo-cliente {
        width: 120px;
    }

    nav .title {
        font-size: 1rem;
        font-weight: bold;
    
    }

    .encabezado .logo {
        border-radius: 0% 0% 0% 0%;
        width: auto;
        height: 50px;
    
    }

    .encabezado .titulo {
        gap: 5px;
        padding: 10px 10px;

    }
    
    
    
}
  
@media (min-width: 640px) and (max-width: 768px) {
    
}
  
@media (min-width: 768px) {

}