@import url('colors.css');

:root {
    --transition: all 0.5s ease-in-out 0s;
    --shadow: 4px 4px 3px rgba(0, 0, 0, 0.8);
    --shadow-sect: 1px 1px 4px 2px rgba(0, 0, 0, 0.8);
    --shadow-sect2: 1px 1px 6px 4px rgba(0, 0, 0, 0.4);
    --shadow-inset: 1px 1px 4px 2px rgba(0, 0, 0, 0.8) inset;
    --radius: 10px;
}

.border-solid {
    border-width: 1px;
    border-style: solid;
}

.border-dotted {
    border-width: 2px;
    border-style: dotted;
}

.border-dashed {
    border-width: 1px;
    border-style: dashed;
}

.border-radius {
    border-radius: 20px 0 20px 0;
}

.logo {
    background: red;
    margin-left: 0 auto;
}

/* GLOBALES */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    scrollbar-width: thin;
}

nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

nav img {
    flex-basis: 160px;
}

nav div {
    flex: 1;
    color:var(--surf-title);
    font-size: 1.5rem;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.caja {
    min-height: 160px;
    width: 80;
    margin: 20px;
    border: 1px dotted;
}

h1 {
    font-size: 2rem;
    margin: 40px 0 10px 40px;
    padding: 10px;
    font-style: italic;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
    margin: 20px;
    padding: 0 0 0 10px;
    font_size: 1.5rem;
    font-style: italic;
    border-bottom: 1px solid;
    text-transform: uppercase;
}

h3 {
    font-size: 1.3rem;
    margin: 10px 0 20px 0;
    padding: 10px;
    padding: 0 10px 0 50px;
    
    
}

h4 {
    font-size: 1.1rem;
    margin: 10px 0 20px 0;
    padding: 10px;
    padding: 0 10px 0 50px;
    
}

p {
    margin: 10px 20px;
    padding-bottom: 15px;
    text-align: justify;
}

span {
    font-style: italic;
}

.fondo strong {
    font-style: italic;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-style: italic;
    text-transform: uppercase;
    margin: 10px;
}

hr {
    border-width: 2px;
}

button {
    padding: 10px 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-style: none;
}

/* ENCABEZADO */
header {
    flex-basis: 80px;
    
    border-bottom: 1px solid;
}

/* MAIN */
main {
    flex: 1 1 auto;

    display: flex;
    height: 100%;
    overflow: hidden;
}



.sidebar {
    overflow-y: auto;
    width: 250px;
    
}

.principal {
    height: 100%;
    flex: 1;
    display: flex;

}

.contenido {
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
}

.menu {
    margin: 10;
    overflow-y: auto;
    width: 250px;
    
}

/* FOOTER */
footer {
    border-top: 2px dotted ;
    text-align: center;
    padding: 10px;
}

footer p {
    text-align: center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .menu {
        display: none;
    }
}

@media (max-width: 600px) {
    .sidebar {
        display: none
    }
}


/* CONTENEDORES */
