:root {
    --background: #18181b;
    --back-text: #71717a;
    --back-title: #a1a1aa;
    --object: #27272a;
    --obj-text: #71717a;
    --obj-title: #a1a1aa;
    --object2: #52525b;
    --obj2-text: #d4d4d8;
    --obj2-title: #f4f4f5;
    --section: #27272a;
    --section-int: #09090b;
    --primary: #0284c7;
    --primary-text: #bfdbfe;
    --transition: all 0.5s ease-in-out 0s;
    --shadow: 4px 4px 3px rgba(0, 0, 0, 0.8);
    --shadow-sect: 1px 1px 4px 2px rgba(0, 0, 0, 0.8);
    --shadow-sect2: 1px 1px 6px 4px rgba(0, 0, 0, 0.4);
    --shadow-inset: 1px 1px 4px 2px rgba(0, 0, 0, 0.8) inset;
    --radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    /* overflow: hidden;  */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background); /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
}

/* ENCABEZADO */
header {
    flex: 0 1 30%;
    background: var(--background); /* Color de fondo del encabezado */
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid var(--object);
}

nav {
    display: flex;
    align-itemx: cente;
    gap: 10px;
}

nav img {
    width: 180px;
    object-fit: contain;
}

nav h1 {
    flex: 1;
    text-align: end;
    color: var(--back-title);
    text-transform: uppercase;
}

/* MAIN */
main {
    flex: 1;
    height:500px;
    height: 90%;
    overflow-y: auto; 
    /* padding: 40px 20px; */
    display: flex;
    /* flex-direction: column;
    gap: 40px; */
}

h1 {
    margin: 0;
    padding: 10px;
    color: var(--primary);
    font-size: 2rem;
}

h2 {
    margin: 0;
    padding: 10px;
    color: var(--primary); /* Color de encabezados */
    font_size: 1.5rem;
}

h3 {
    margin: 0;
    padding: 10px;
    color: var(--back-title);
}

p {
    padding-bottom: 15px;
}

p span {
    color: var(--primary);
    font-style: italic;
}

/* SIDEBAR LEFT */
.side-bar-left {
 width: 200px;
 flex: none;
 padding: 20px;
}

.side-bar-l-link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    color: var(--back-title);
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 4px solid var(--back-text);
}

.side-bar-l-link a {
    padding: 10px;
}

.side-bar-l-link a:hover {
    background-image: linear-gradient(to right,var(--primary),var(--background));
    color: var(--primary-text);
    opacity: 75%;
    transition: var(--transition);
}

.side-bar-l-sublink {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: var(--back-text);
    text-transform: uppercase;
    font-weight: bold;
    border-left: 4px solid var(--primary);
    /* border-radius: 3px; */
    padding-left: 10px;
}

.side-bar-l-sublink a {
    padding: 10px;
    padding-left: 10px;
}

.side-bar-l-sublink a:hover {
    background-image: linear-gradient(to right,var(--back-text),var(--background));
    color: var(--obj-title);
    opacity: 75%;
    transition: var(--transition);
}


/* PRINCIPAL */
.principal {
    flex-grow: 1;
    overflow-y: auto;
}

/* SIDEBAR RIGHT */
.side-bar-right {
    width: 250px;
    flex: none;
    padding: 20px;
}

.side-bar-right-title {
    text-transform: uppercase;
}

.side-bar-r-link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    color: var(--back-title);
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /* border-left: 4px solid var(--back-text); */
}

.side-bar-r-link a {
    padding: 10px;
    color: var(--back-title);
    text-decoration: none;
}

.side-bar-r-link a:hover {
    background-image: linear-gradient(to right,var(--primary),var(--background));
    color: var(--primary-text);
    opacity: 75%;
    transition: var(--transition);
}

.side-bar-r-sublink {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: var(--back-text);
    text-transform: uppercase;
    font-weight: bold;
    /* border-left: 4px solid var(--primary); */
    /* border-radius: 3px; */
    padding-left: 10px;
}

.side-bar-r-sublink a {
    padding: 10px;
    color: var(--back-text);
}

.side-bar-r-sublink a:hover {
    background-image: linear-gradient(to right,var(--back-text),var(--background));
    color: var(--obj-title);
    opacity: 75%;
    transition: var(--transition);
}

section {
    display: flex;
    flex-direction: column;
    background-color: var(--section);
    padding: 20px;
    border-radius: var(--radius);
    opacity: 75%;
    color: var(--obj-text);
    box-shadow: var(--shadow-sect);
}

.img-arq {
    width: 100%;
    border: 2px solid #444; /* Borde oscuro */
    border-radius: var(--radius);
}

/* FOOTER */
footer {
    flex: 0 1 15%;
    border-top: 2px solid var(--object);
    text-align: center;
    padding: 10px;
    color: var(--back-text);
}

/* Estilos para formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #444; /* Borde oscuro */
    border-radius: var(--radius);
    background: var(--section-int); /* Fondo oscuro para inputs */
    opacity: 50%;
    color: #e0e0e0; /* Texto claro en inputs */
    box-shadow: var(--shadow);

}

button {

    background: var(--primary); /* Color del botón */
    font-weight: bold;
    color: var(--primary-text);
    padding: 10px 40px;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    transform: scale(1.1, 1.1);
    box-shadow: var(--shadow);
    transition: var(--transition);
}

/* Media Queries */
@media (max-width: 1200px) {
    .side-bar-right {
        display: none;
    }

    .side-bar-left {
        width: 200px;
       }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }
    
    header {
        font-size: 1.2em;
    }
}

@media (max-width: 600px) {
    .side-bar-left {
        display: none;
       }
    nav img {
        width: 120px;
        /* object-fit: contain; */
    }
    
    nav h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.5em;
    }
    
    main {
        padding: 20px 10px;
    }
}

.serch-bar {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

/* CONTENEDORES */
.contenedor-componentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
    background: var(--background);
    border-radius: var(--radius);
    box-shadow: var(--shadow-inset);
    padding: 40px 10px;
}

.contenedor-lista {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    background: var(--background);
    border-radius: var(--radius);
    box-shadow: var(--shadow-inset);
    padding: 10px 10px;
}

.contenedor-lista a {
    background-color: var(--object2);
    color: var(--obj2-text);
    padding: 10px 20px;
    /* border-radius: var(--radius); */
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.contenedor-lista a:hover {
    background-color: var(--primary);
    color: var(--primary-text);
    transition: var(--transition);
}

.tarjeta-componente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: var(--radius);
    box-shadow: var(--shadow-sect);
    
}

.tarjeta-componente:hover {
    transform: scale(1.1, 1.1);
    box-shadow: var(--shadow-sect2);
    transition: var(--transition);
    opacity: 100%;
}

.tarjeta-componente div {
    flex: 1;
    width: 100%;
    box-sizing: border-box;

}

.tarjeta-componente-contenido {
    /* display: flex;
    flex-direction: column; */
    background-color: var(--object);
    padding: 10px;
}

.tarjeta-componente-contenido a {
    color: var(--primary);
    text-decoration: none;
}

.tarjeta-componente-contenido a:hover {
    padding-top: 10px;
    color: var(--obj-title);
    transition: var(--transition);
}

.tarjeta-componente-contenido-modelo {
    font-size: 1.5rem;
    color: var(--obj-title);
    font-weight: bold;
}

.tarjeta-componente-contenido-marca {
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: bold;
    /* font-style: italic; */
    margin-bottom: 10px;
    /* padding-left: 10px; */
}

.tarjeta-componente-contenido-desc {

}

.tarjeta-componente-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--object2);
    width; 100%;
}

.tarjeta-componente-img img {
    height: 150px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 10px black);
}

.icono {
    font-size; 50px;
    width: 40px;
    height: 40px;
    color: red;
    background-color: green;
}